---
- name: Restart keepalived
  ansible.builtin.systemd:
    name: keepalived
    state: restarted
    daemon_reload: true

- name: Restart keepalived-exporter
  ansible.builtin.systemd:
    name: keepalived-exporter
    state: restarted
    daemon_reload: true

...
